<mat-toolbar color="primary">
  <span style="margin-left: 100px">Task Manager</span>
  <!-- <mat-tab-group #tabGroup [selectedIndex]="getTabIndex(selectedStatus)" class="tab-buttons">
    <mat-tab label="Completed" class="tab-button" >
     <app-task-endpoints *ngIf="selectedStatus === 'Completed'"></app-task-endpoints>
   </mat-tab>
   <mat-tab label="Pending" class="tab-button" >
     <app-task-endpoints *ngIf="selectedStatus === 'Pending'"></app-task-endpoints>
   </mat-tab>
   <mat-tab label="Cancelled" class="tab-button" >
     <app-task-endpoints *ngIf="selectedStatus === 'Cancelled'"></app-task-endpoints>
   </mat-tab>
   </mat-tab-group> -->

  <button
    class="btn btn-primary"
    style="margin-left: 900px"
    (click)="openAddTaskModal(AddorUpdateTaskModal)"
  >
    Add Task
  </button>

  <!-- <button
    class="btn btn-primary"
    style="margin-left: 10px;"
    (click)="taskEndpoints.applyFilter('Completed')"
  >
    Completed
  </button> -->

  <!-- <button (click)="drawer.toggle()" style="margin-left: 10px" mat-icon-button> -->
  <mat-icon (click)="drawer.toggle()" style="margin-left: 10px">menu</mat-icon>
  <!-- </button> -->
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="end">
    <div>
      <h1>Filter</h1>
    </div>
    <div>
      <label>Status</label>
      <select
        type="text"
        placeholder="select status"
        [(ngModel)]="selectedStatus"
        (change)="onStatusSelected()"
      >
        <option value="">All</option>
        <option value="Completed">Completed</option>
        <option value="Pending">Pending</option>
        <option value="Cancelled">Cancelled</option>
      </select>
    </div>
    <!-- <div>
        <button mat-button (click)="applyFilterbutton()">Apply Filter</button>
      </div> -->
  </mat-drawer>
  <mat-drawer-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left: 500px">Task List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-task-endpoints></app-task-endpoints>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #AddorUpdateTaskModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      {{ action === "add" ? "Add Task" : "Update Task" }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      id="modal-btn-close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="col">
      <form
        [formGroup]="taskform"
        (ngSubmit)="action === 'add' ? addTask() : UpdateTask()"
      >
        <div class="formgroup">
          <label for="name"> Task name</label>
          <input type="text" class="form-control" formControlName="name" />
          <div
            *ngIf="namectrl.invalid && (namectrl.dirty || namectrl.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="namectrl.errors?.required">Name is required</div>
          </div>
        </div>
        <div class="formgroup">
          <label for="description"> Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
          />
          <div
            *ngIf="
              descriptionctrl.invalid &&
              (descriptionctrl.dirty || descriptionctrl.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="descriptionctrl.errors?.required">
              Description is required
            </div>
          </div>
        </div>

        <div class="formgroup">
          <label for="status"> Status</label>
          <input type="text" class="form-control" formControlName="status" />
          <div
            *ngIf="
              statusctrl.invalid && (statusctrl.dirty || statusctrl.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="statusctrl.errors?.required">Status is required</div>
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="taskform.invalid"
            style="margin-top: 10px"
          >
            {{ action === "add" ? "Add" : "Update" }} Task
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('close click')"
    >
      Close
    </button>
  </div>
</ng-template>
