body {
    font-family: Arial, sans-serif;
  }
  
  mat-card {
    margin: 20px;
    padding: 20px;
   
  }
  
  mat-toolbar {
    margin-bottom: 20px;
  }
  mat-drawer{
    padding: 50px;
  }
  .tab-buttons {
    display: flex;
  }
  
  .tab-button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .tab-button.mat-tab-label-active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }